@model IEnumerable<OnlineVotingAndroid.Models.StudentsAndParty>

@{
    ViewBag.Title = "Index";
}


<div class="content-body">
    <div class="container-fluid">

        <!-- row -->
        <div class="row">

            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    @*<div class="card-header">
                            <h4 class="card-title">Horizontal Form</h4>
                        </div>*@
                    <div class="card-body">


                        <p>
                            @*@Html.ActionLink("Create ", "Create")*@
                            <a href="@Url.Action("Create", "Students")" class="btn btn-outline-primary btn-lg">Create New</a>
                        </p>

                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead class="btn-light">
                                    <tr>
                                        <th>
                                            Student ID
                                        </th>
                                        <th>
                                            Name
                                        </th>

                                        <th>
                                            Partylist
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.students.StudentSchoolID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.students.LastName), @Html.DisplayFor(modelItem => item.students.FirstName)
                                            </td>
                                            <td>
                                                @if (item.party == "N/A")
                                                {

                                                    @item.party <a href="@Url.Action("Create", "PartyListMembers", new {Id = item.students.StudentID})" class="badge badge-outline-primary"><span class="btn-"><i class="fa fa-edit"></i></span></a>
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.party) <a href="@Url.Action("Edit", "PartyListMembers", new {id = item.partyMemberID})" class="badge badge-outline-primary"><span class="btn-"><i class="fa fa-edit"></i></span></a>
                                                }

                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.students.StudentID }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.students.StudentID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.students.StudentID }) |
                                            </td>
                                        </tr>
                                    }
                                </tbody>



                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

