@model IEnumerable<OnlineVotingAndroid.Models.Candidate>

@{
    ViewBag.Title = "ActiveElection";
}

<div class="content-body">
    <div class="container-fluid">

        <!-- row -->
        <div class="row">


            @foreach (var position in Model.Select(x => x.Position.PositionName).Distinct())
            {
                <div class="col-xl-4">
                    <div class="card">

                        <div class="card-header">
                            <h4 class="card-title">@position <span class="badge badge-primary badge-pill">@Model.Where(x => x.Position.PositionName == position).Count()</span></h4>
                            <a href="@Url.Action("Create", "Students")" class="btn btn-outline-primary btn-lg">Create New</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Student Name
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                            @*<th></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(x => x.Position.PositionName == position))
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Students.LastName),  @Html.DisplayFor(modelItem => item.Students.FirstName)
                                                </td>
                                                <td>
                                                        @Html.ActionLink("Remove", "Edit", new { id = item.CandidateID }) @*|
                                                        @Html.ActionLink("Details", "Details", new { id = item.CandidateID }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.CandidateID })*@
                                                    </td>
                                            </tr>
                                        }
                                    </tbody>


                                </table>
                            </div>





                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>

