@model IEnumerable<OnlineVotingAndroid.Models._candidateswPartylist>

@{
    ViewBag.Title = "ActiveElection";
}

<div class="content-body">
    <div class="container-fluid">

        <!-- row -->
        <div class="row">


            @foreach (var position in ViewBag.positions)
            {
                <div class="col-xl-4">
                    <div class="card">

                        <div class="card-header">
                            <h4 class="card-title">@position.PositionName <span class="badge badge-primary badge-pill">@Model.Where(x => x.candidate.PositionId == position.PositionId).Count()</span></h4>
                            <span>
                                <a href="@Url.Action("Edit", "Positions", new {id = position.PositionId})" class="badge badge-outline-primary"><span class="btn-"><i class="fa fa-edit"></i></span></a>
                                <a href="@Url.Action("Create", "Candidates", new {id = position.PositionId})" class="badge badge-outline-primary"><span class="btn-"><i class="fa fa-plus"></i></span></a>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Student Name
                                            </th>
                                            <th>
                                                Partylist
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                            @*<th></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(x => x.candidate.Position.PositionName == position.PositionName))
                                        {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.candidate.Students.LastName),  @Html.DisplayFor(modelItem => item.candidate.Students.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.partyLists)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Remove", "Delete", new { id = item.candidate.CandidateID }) @*|
            @Html.ActionLink("Details", "Details", new { id = item.CandidateID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CandidateID })*@
                                            </td>
                                        </tr>
                                        }
                                    </tbody>


                                </table>
                            </div>





                        </div>
                    </div>
                </div>
            }
            <div class="col-xl-4">
                <div class="card text-center">


                    <div class="card-body">
                        <div class="card-title">
                            <h2>Add Position</h2>
                        </div>
  
                            <h1>
                                <a href="@Url.Action("Create", "Positions")" class="badge badge-outline-primary col-12"><span class="btn-"><i class="fa fa-plus"></i></span></a>
                            </h1>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

