@model OnlineVotingAndroid.Models.PartyList

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="content-body">
    <div class="container-fluid">

        <!-- row -->
        <div class="row">

            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                            <h4 class="card-title">Create New Partylist </h4>
                        </div>
                    <div class="card-body">


                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @*<h4>PartyList</h4>
                                <hr />*@
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PartyListName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.PartyListName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PartyListName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-outline-primary btn-lg" />
                                        @*<a href="@Url.Action("Create", "PartyLists")" class="btn btn-outline-primary btn-lg">Create New</a>*@
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
